@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
nav {
  display: flex;
}
#navbar-pinterest {
  flex: 1;
  margin: 5px;
}
#finder {
  width: 98%;
  padding: 5px;
}
.left-container,
.right-container {
  display: flex;
}

.navbar-button {
  padding: 10px;
  border-radius: 100%;
}
.navbar-button:hover {
  background-color: aliceblue;
}
#pinterest-icon {
  fill: #e60023;
}
